@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  font-family: Montserrat;
}

html {
  background: #f0f7f8;
}

.App {
  text-align: center;
}

.logo {
  height: 8rem;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) { */
.logo {
  animation: App-logo-spin infinite 20s linear;
}

/* } */

.App-header {
  background-color: #282c34;
  min-height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
  padding: 1rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.formulario {
  display: grid;
  align-self: center;
  gap: 1rem;
  text-align: left;
  align-items: center;
  margin-bottom: 2rem;
}

.formulario input {
  font-size: 1rem;
  padding: 0.4rem;
  border-radius: 0.2rem;
  border: 1px solid #acb5b8;
}

#buscar {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}



.resultadosContainer {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-inline-start: 0px
}

.resultadosContainer li {
  border-radius: 0.6rem;
  border: 1px solid #60c7e4;
  min-width: 11rem;
  padding: 0.4rem 0.8rem;
  margin: 0.4rem;
  transition: all 0.4s;
  background: #c3e6f0;
}

.resultadosContainer li:hover {
  cursor: pointer;
  background: #a0d9eb;
}

.tiempoimg {
  background: #64b4ca;
  border-radius: 50%;
}